/* === GENERAL === */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	background: url('images/background.png') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

#container {
	max-height: 77%;
	width: 70%;
	margin: 1rem auto;
	border-radius: 10px;
	overflow: hidden;
	background-color: aliceblue;
	text-align: center;
	color: red;
	font-weight: bold;
}

#icon {
	width: 100px;
	height: 100px;
}
