body {
	text-align: center;
}

#map {
	border: 2px solid lightslategray;
	width: 80vw;
	height: 400px;
	margin: 0 auto;
}

#forecast {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#flex-items {
	margin: 15px;
	text-align: center;
}
